 body{
margin: 0;
padding: 0;
 background-color: antiquewhite;
 }
form{
        background-color: rgb(177, 212, 212) ;
    max-width: 800px;
    margin: auto;
    padding: 10px;
    font: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
form >div {
    margin:10px auto;
    width: 800px;
}
h1{
 text-align: center;

}
input[type="text"],
input[type="email"],
input[type="number"],
input[ type="password"],
select,
textarea{
padding: 10px;
width: 80%;
margin: 10px;
border-radius: 5px;
border: none;
 outline: none;
font-weight: 600;
}
input[type="submit"]{

    width: 120px;
    padding: 10px;
    font-size: large;
    font-weight: 600px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    display: block;
    margin: 20px auto;
    border-radius: 20px;
    border: none;
    background-color: white;
    background-color: rgb(103, 103, 112);
    color: white;
    cursor: pointer;


}
input[type="submit"]:hover{
    background-color: aquamarine;
    color: black;
}
.check{
    border: 1px solid rgb(63, 60, 60);
    padding: 6px;
    border-radius: 3px;
    width: auto;
}
